
@if (!User.Identity.IsAuthenticated)
{
    <a href="@Url.Action("Login","Auth")" class="nav-item nav-link">Đăng nhập</a>
}
else
{
    <a href="" class="nav-item nav-link"><i class="fa fa-user text-primary"></i> @User.Identity.Name</a>
    <a href="@Url.Action("Logout","Auth")" class="nav-item nav-link"> Đăng xuất</a>
}