
@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid mb-5">
    <div class="card card-login">
        <div class="card-row">
            <label>Tài khoản:</label>
            <input id="login_name" type="text" class="form-control"/>
        </div>
        <div class="card-row">
            <label>Mật khẩu:</label>
            <input id="login_password" type="password" class="form-control"/>
        </div>
        <div>
            <label class="login-error" id="login_error" style="display: none; margin-top: -5px">*Sai tài khoản hoặc mật khẩu</label>
        </div>
        <div class="card-row">
            <button class="btn btn-primary" onclick="Login()">Đăng nhập</button>
        </div>
    </div>
</div>
<!-- Page Header End -->
<link href="~/css/login.css" rel="stylesheet" />