
.card-login {
    width: 40% !important;
    left: 30% !important;
    top: 50px;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
}

.card-login label {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
    color: black;
}

    .card-login input {
        float: right;
        margin-right: 15px;
        width: 60%;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }

        .card-login input:focus {
            border: 1px solid rgba(0, 0, 0, 1);
        }

.card-row {
    margin-bottom: 10px;
}

.card-row button {
    float: right;
    margin-right: 15px;
    border-radius: 10px;
}

.card-login .login-error {
    color: red;
    font-size: 13px;
    float: right;
    margin-right: 15px;
}