
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<div style="text-align: center; padding-top: 30px; margin-bottom: -50px">
        <img src="/Template/info1.jpg"/>
        <img src="/Template/info2.jpg" />
</div>
