
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<div style="text-align: center; padding-top: 30px; margin-bottom: -50px">
    <object type="image/svg+xml" data="/Template/info.svg">
        <img src="/Template/info.svg"/>
    </object>
</div>
