
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<div class="container">
    <div class="row" style="margin-top: 20px">
        <table class="table-borderless">
            <tr>
                <td rowspan="2" style="vertical-align: top">
                    <img style="width: 20vw;height: 25vh;" src="/Template/new1.jpg" />
                </td>
                <td style="padding-left: 3%"><label>Thời điểm nào nên và không cần làm nóng nồi chiên không dầu?</label></td>
            </tr>
            <tr>
                <td style="padding-left: 3%">
                    <p style="text-align: justify">
                        Trước khi nấu làm nóng nồi chiên không dầu là biện pháp hiệu quả giúp thực phẩm chín đều, độ giòn như ý muốn. Tuy nhiên, không phải lúc nào cách làm này cũng cần thiết. Thậm chí trong một số trường hợp việc làm này có thể khiến người dùng gặp nguy hiểm. Vậy khi nào nên và không cần làm nóng nồi chiên không dầu? Hãy đọc ngay bài viết dưới đây để nắm được thông tin chi tiết.
                    </p>
                    <a href="https://mediamart.vn/tu-van-gia-dung/thoi-diem-nao-nen-va-khong-can-lam-nong-noi-chien-khong-dau">Xem thêm...</a>
                </td>
            </tr>
        </table>
    </div>
    <hr />
    <div class="row" style="margin-top: 20px">
        <table class="table-borderless">
            <tr>
                <td rowspan="2">
                    <img style="width: 20vw;height: 25vh" src="/Template/new2.jpg" />
                </td>
                <td style="padding-left: 3%"><label>Có nên dùng lò vi sóng đun sôi nước không?</label></td>
            </tr>
            <tr>
                <td style="padding-left: 3%">
                    <p style="text-align: justify">
                        Một số người thường duy trì thói quen đun nước sôi để pha sữa, pha trà, pha cà phê,… bằng lò vi sóng do tiết kiệm được thời gian chờ nước sôi. Vậy có nên dùng lò vi sóng để đun sôi nước hay không? Hãy tham khảo bài viết dưới đây để nắm được câu trả lời.
                    </p>
                    <a href="https://mediamart.vn/tu-van-gia-dung/co-nen-dung-lo-vi-song-dun-soi-nuoc-khong">Xem thêm...</a>
                </td>
            </tr>
        </table>
    </div>
    <hr />
    <div class="row" style="margin-top: 20px">
        <table class="table-borderless">
            <tr>
                <td rowspan="2">
                    <img style="width: 20vw;height: 25vh" src="/Template/new3.jpg" />
                </td>
                <td style="padding-left: 3%"><label>Tủ lạnh French Door là gì?</label></td>
            </tr>
            <tr>
                <td style="padding-left: 3%">
                    <p style="text-align: justify">
                        Hiện nay, mẫu tủ lạnh French door đang được rất nhiều gia đình ưa chuộng. Không chỉ thiết kế hiện đại mà còn sở hữu nhiều tính năng tiện ích cho người dùng. Vậy tủ lạnh French door là gì? Tủ lạnh French door sở hữu những ưu nhược điểm gì nổi bật? Đâu là mẫu tủ lạnh French door được ưa chuộng hiện nay? Bài viết này sẽ chia sẻ và giải đáp thắc mắc này cho bạn đọc.
                    </p>
                    <a href="https://mediamart.vn/tu-van-tu-lanh/tu-lanh-french-door-la-gi">Xem thêm...</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<style>
    label {
        color: red;
        font-size: 2vmax;
    }

    p {
        font-size: 1vmax;
        color: black;
    }

    a {
        color: gray !important;
    }

    hr {
        border: 1px solid black;
    }
</style>